
/*this is how you change the style of something you make an id of so as you can see above it relates to the id"test-id-1*/
#test-id-1 {
  color:purple;
}
h1 {
/*this is how you change the style of every h1 element*/
  font-style: italic;
  background-color: white;
  color: #99230B;
  font-size: 400%
}
/*makes first letter black for all h1's*/
h1:first-letter{
  color:black
}
a {
/*this is how you change link color*/
  color: #99230B;

.test-class{
  text-shadow: 2px 20px red;
}

a:hover{
  color:#19623B
}
p {
  background-color: green;
  padding: 10px 30px 5px 40px;
  margin: 200px 100px 200px 200px;
  border: 20px solid black;
}

span {
  background-color: red;
}
