@media screen and (min-width:400px) {
  body {
    background-color: white;
  }
  .main{
    display: grid;
    grid-template-columns: 225px 800px 1fr;
    grid-template-rows: 70px 1fr 1fr;
    background-color:white;
    padding: 20px;
    gap:20px;
  }
  .title{
    background-color: white;
    grid-column: 1/2;
    grid-row: 1;
  }
  .navigation {
    background-color: white;
    padding: 18px;
    grid-column: 2/4;
    grid-row: 1;
  }
  .image {
    background-color: white;
    grid-column: 1/4;
    grid-row: 2;
  }
  .profilepicture {
    background-color: white;
    padding: 5px;
    grid-column: 1/2;
    grid-row:3;
  }
  .introduction {
    background-color: white;
    padding: 50px;
    grid-column:2/3;
    grid-row:3;
    align-content: center;
  }
  h1 {
    color:#F09A9A
  }
  .test-class{
    text-shadow: 1px 1px #663025;
  }
  h2 {
    color:#021871
  }
  h3 {
    color:#663025
  }
  h4 {
    color:#663025
  }
  h5 {
    color:#663025
  }
  h6 {
    color:#663025
  }

  p {
    color:#663025
  }
  a {
    color:#19623B
  }
  a:hover{
    color:#F3AA3B
  }
  a:active{
    color:#F3AA3B
  }
  button {
    background-color:#F09A9A;
    border-radius: 32px;
    color: white;
    padding: 10px 80px;
    text-align: center;
    display: inline-block;
    font-size:16px;
    font-family: TIMES;
  }
  button:hover{
    background-color:#F3AA3B
  }
  p.one{
    border-style: solid;
    border-width: 5px;
  }
  hr{
    border-color:#F3AA3B;
    border-width: 1px;
  }

}
@media screen and (max-width:399px) {
  body{
    background-color: purple;
  }
}
