@media screen and (min-width:400px) {
  body {
    background-color: white;
  }
  .main{
    display: grid;
    grid-template-columns: 240px 1fr 100px;
    grid-template-rows: 70px 1fr 400px 1/5fr;
    background-color:white;
    padding: 20px;
    gap:20px;
  }
  .title{
    background-color: white;
    grid-column: 1/2;
    grid-row: 1;
  }
  .navigation {
    background-color: white;
    padding: 18px;
    grid-column: 2/4;
    grid-row: 1;
  }
  .image {
    background-color: white;
    grid-column: 1/4;
    grid-row: 2;
  }
  .profilepicture {
    background-color: white;
    padding: 5px;
    grid-column: 1/2;
    grid-row:3;
  }
  .introduction {
    background-color: white;
    padding: 50px;
    grid-column:2/3;
    grid-row:3;
    align-content: center;
  }
  .line {
    grid-column:1/4;
    grid-row:5/6;
  }
  h1 {
    color:#F09A9A
  }
  .test-class{
    text-shadow: 1px 1px #663025;
  }
  h2 {
    color:#021871
  }
  h3 {
    color:#663025
  }
  h4 {
    color:#663025
  }
  h5 {
    color:#663025
  }
  h6 {
    color:#663025
  }

  p {
    color:#663025
  }
  a {
    color:#19623B
  }
  a:hover{
    color:#F3AA3B
  }
  a:active{
    color:#F3AA3B
  }
  button {
    background-color:#F09A9A;
    border-radius: 32px;
    color: white;
    padding: 10px 80px;
    text-align: center;
    display: inline-block;
    font-size:16px;
    font-family: TIMES;
  }
  button:hover{
    background-color:#F3AA3B
  }
  p.one{
    border-style: solid;
    border-width: 5px;
  }
  hr{
    border-color:#F09A9A;
    border-width: 1px;
  }
  div.gallery {
    margin: 1px;
    border: 1px solid #ccc;
    float: left;
    width: 80px;
  }

  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.desc {
    padding: 1px;
    text-align: center;
  }
  .projectslist{
    text-align: left;
  }


  .mainresume{
    display:grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 70px 1fr;
    background-color:white;
    padding:20px;
    gap:20px;
  }

  .titleresume{
    background-color: white;
    grid-column: 1/2;
    grid-row: 1;
  }
  .navigationresume {
    background-color: white;
    padding: 18px;
    grid-column: 2/4;
    grid-row: 1;
    align-content: flex-start;
  }
  .resumecontent{
    margin-left: 50px;
    grid-column:1/3;
    grid-row: 2;
  }
  .mainprojectspage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr;
    background-color:white;
    padding: 20px;
    gap:20px;
  }
  .projecttitle {
    grid-column:1/2;
    grid-row: 1;
  }
  .projectnavigation{
    grid-column:2/4;
    grid-row: 1;
    padding-top: 30px;
    padding-left: 0px;
    text-align: left;
  }
  #navigation-id{
    color:#663025;
    text-decoration:none;
  }


  .html{
    grid-column:1/3;
    grid-row: 2;
    border: 2px solid #F3AA3B;
    padding: 10px;
    text-align:center;
  }
  .artworkgallery{
    grid-column:3/5;
    grid-row: 2;
    border: 2px solid #F3AA3B;
    padding: 10px;
    text-align:center;
  }
  .photographygallery{
    grid-column:1/3;
    grid-row: 3;
    border: 2px solid #F3AA3B;
    padding: 10px;
    text-align:center;
  }
  .webdesign{
    grid-column:3/5;
    grid-row: 3;
    border: 2px solid #F3AA3B;
    padding: 40px 0;
    text-align: center;
  }

}
@media screen and (max-width:399px) {
  body {
    background-color: white;
  }
  .main{
    display: grid;
    grid-template-columns: 300px 100px;
    grid-template-rows: 1/3fr 1/3fr 1fr 1fr 1fr 1/8fr;
    background-color:white;
    padding:20px;
    gap:20px;
  }
  .title{
    background-color: white;
    grid-column: 1/2;
    grid-row: 1/2;
    padding:5px;
  }
  .navigation {
    background-color: white;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .image {
    background-color: white;
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .profilepicture {
    background-color: white;
    width: 50%;
    grid-column: 1/2;
    grid-row:4/5;
  }
  .introduction {
    background-color: white;
    grid-column:1/2;
    grid-row:5/6;
  }
  .line {
    grid-column:1/2;
    grid-row:6/7;
  }
  h1 {
    color:#F09A9A
  }
  .test-class{
    text-shadow: 1px 1px #663025;
  }
  h2 {
    color:#021871
  }
  h3 {
    color:#663025
  }
  h4 {
    color:#663025
  }
  h5 {
    color:#663025
  }
  h6 {
    color:#663025
  }

  p {
    color:#663025
  }
  a {
    color:#19623B
  }
  a:hover{
    color:#F3AA3B
  }
  a:active{
    color:#F3AA3B
  }
  button {
    background-color:#F09A9A;
    border-radius: 36px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    font-size:12px;
    font-family: TIMES;
  }
  button:hover{
    background-color:#F3AA3B
  }
  p.one{
    border-style: solid;
    border-width: 5px;
  }
  hr{
    border-color:#F09A9A;
    border-width: 1px;
  }

  .resumecontent{
    margin-left: 50px;
  }
  .mainprojectspage{
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-template-rows: 30px 30px  200px 1fr 1fr 1/2fr;
    background-color:white;
    padding: 20px;
    gap:20px;
  }
  .projecttitle {
    grid-column:1/2;
    grid-row: 1/2;
  }
  .projectnavigation{
    grid-column:1/2;
    grid-row: 2/3;
    text-align: left;
  }
  #navigation-id{
    color:#663025;
    text-decoration:none;
  }
  .html{
    grid-column:1/2;
    grid-row: 3/4;
    border: 2px solid #F3AA3B;
    padding: 5px;
  }
  .artworkgallery{
    grid-column:1/2;
    grid-row: 4/5;
    border: 2px solid #F3AA3B;
    padding: 10px;
  }
  .photographygallery{
    grid-column:1/2;
    grid-row: 5/6;
    border: 2px solid #F3AA3B;
    padding: 10px;
  }
  .webdesign{
    grid-column:1/2;
    grid-row: 6/7;
    border: 2px solid #F3AA3B;
    padding: 30px;
  }
  .divbuttons{
    text-align: center;
  }
div.gallery {
  margin: 0px;
  border: 1px solid #ccc;
  float: left;
  width: 80px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 1px;
  text-align: center;
}
.projectslist{
  text-align: left;
}

}
